
.boton-cli {
    text-align: center;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.contenedor_boton_sucursal{
    display: flex;
    width: 250px;
    height: 58px;
    background: var(--fondo-primero);
    align-items: center;
    justify-content: space-between;
}
.contenedor_form_sucursal{
    display: flex;
    justify-content: center;
}
.aumento_sucursal{
    border-radius: 50%;
    color: var(--color-principal);
    background-color: var(--boton-uno);
    border: 4px solid var(--fondo-tercero);
    cursor: pointer;
    margin: 0;
}
.aumento_sucursal:active{
    position:relative;
	top:1px;
}