.Home{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
}
.pestana_cabecera_home{
    display: grid;
    width: 1100px;
    max-width: 1100px;
    background: linear-gradient(45deg, var(--fondo-primero), var(--fondo-quinto));
    
    justify-items: center;
}
.pestana_home{
    background: linear-gradient(45deg, var(--fondo-primero), var(--fondo-quinto));
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 1100px;
    
    align-items: center;
}
.leyenda_sucursales{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background: var(--fondo-marca-uno);
    padding: 10px 0;
    color: var(--color-secundario);
}
.leyenda_sucursales div{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.color_leyenda_sucursales{
    width: 20px;
    height: 10px;
}

.grafico_interno{
    padding: 20px 0px 30px 20px;
    text-align: center;
}
.grafico_interno_dos{
    display: grid;
    /* justify-items: center; */
    width: 100%;
}
.etiqueta_sucursal{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

/* /////////////////////////////////////////////////////// */
.contenedor_circulo_sucursal{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.contenedor_circulo_sucursal_multi{
    display: flex;
    justify-content: center;
    align-items: stretch;
}

/* /////////////////////////////////////////////////////////////////// */

.titulo_graficos_dos{
    display: flex;
    justify-content: space-around;
}

.modelo_circulo_sucursal{
    width: 100px;
    /* height: 130px; */
}

.tabla_mapa_calor{
    width: 1100px;
    
    background: linear-gradient(45deg, var(--fondo-primero), var(--fondo-quinto));
    padding: 10px;
}

.tabla_mapa_calor tbody tr:hover {
    background-color: var(--fondo-cuarto);
}
