

.contenedor-input-radio-inventario {
    margin-bottom: 10px;
    text-align: center;
}
.contenedor-input-radio-inventario h3 {
    margin-bottom: 7px;
}

/* código de barras */
.codBarras{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    margin: 1px;
}
.contenedor-nuevo-codigo-barras{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
}
.inputCodigoBarras{
    height: 40px;
    width: 100%;
    margin: 0px 2px;
}
.labelCodigoBarras{
    height: 12px;
    width: 100%;
    margin: 0px 2px;
    text-align: center;
    font-size: 12px;
}
.input-cantidad-codigo-barras {
    width: 50px;
    margin: 0px;
    padding: 3px;
    border: none;
    border-radius: 5px;
}



