.compras-form{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
}
.contenedor_compras{
    display: grid;
    grid-template-columns: 40% 60%;
    justify-items: center;
    width: 1100px;
    align-content: space-around;
    padding: 20px 0;
    background: linear-gradient(45deg, var(--fondo-primero), var(--fondo-quinto));
    
}

.contenedor_tabla{
    display: grid;
    justify-items: center;
    align-items: center;
    background: linear-gradient(45deg, var(--fondo-primero), var(--fondo-quinto));
    width: 1100px;
    
}
.into_form{
    display: grid;
    justify-items: center;
    gap: 20px;
}

/* TRANSFERENCIAS//////////////////////////////////////////////////////////////////////////////////// */
.transferencias-form{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
}

#formulario-transferencias{
    display: grid;
    gap: 20px;
    justify-items: center;
}
/* KARDEX//////////////////////////////////////////////////////////////////////////////////////// */
.kardex-form{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
}
.contenedor_kardex{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 10px;
    align-content: space-around;
    width: 1100px;
}
/* DETALLE DE VENTAS ////////////////////////////////////////////////////////////////////////////// */
.detalleVentas-form{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
}





.input-compras {
    width: 90%;
    margin: 4px 30px;
    border-radius: 7px;
    border: none;
    padding: 3px;
    color: var(--color-principal);
}


.invisible {
    display: none;
}


.botones-compras{
    display: flex;
    margin: 0px auto;
    width: 1100px;
    align-items: center;
    background-color: var(--fondo-primero);
}

/*MODAL */
.contenedor-pre-recompra{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    align-items: center;
    opacity: 0;/* con esto ocultamos el modal */
    pointer-events: none;
    transition: opacity .5s;
}
.modal-show{/* con esto mostramos el modal */
    opacity: 1;
    pointer-events: unset;
    transition: opacity .5s;
}
.contenido-tabla{
    max-width: 1500px;
    max-height: 90%;
}
.contenedor-pre-transferencia{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    align-items: center;
    opacity: 0;/* con esto ocultamos el modal */
    pointer-events: none;
    transition: opacity .5s;
}
.modal-show-transferencia{/* con esto mostramos el modal */
    opacity: 1;
    pointer-events: unset;
    transition: opacity .5s;
}

.baja_opacidad{
    opacity: 0;
    transition: opacity .5s;
}
.alta_opacidad{
    opacity: 1;
    transition: opacity .5s;
}
.baja_opacidad_interior{
    opacity: 0;
    transition: opacity .5s;
}
.alta_opacidad_interior{
    opacity: 1;
    transition: opacity .5s;
}

.contenedor_kardex_analisis{
    display: flex;
    justify-items: center;
    gap: 10px;
    background: linear-gradient(45deg, var(--fondo-primero), var(--fondo-quinto));
    width: 1100px;
    justify-content: space-evenly;
    padding: 20px 0;
}
.contenedor-pre-credito{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;/* con esto ocultamos el modal */
    pointer-events: none;
    transition: opacity .5s;
}
.modal-show-credito{/* con esto mostramos el modal */
    opacity: 1;
    pointer-events: unset;
    transition: opacity .5s;
}