{% extends "index.html" %}

{% block content %}
<div class="clientes-form baja_opacidad">
    <div class="contenedor_compras">
        <div style="padding: 20px 0;" class="contenedor_compras_dos">
            <form id="formClientes">
                <div class="into_form">
                    <h2>Ingresar Cliente / Proveedor
                        <div class="tooltip_ayuda">
                            <span class="material-symbols-outlined">help</span>
                            <span class="tooltiptext_ayuda">Registra los datos de clientes y proveedores.</span>
                        </div>
                    </h2>
                    <label class="label-general">Persona
                        <select class="input-general fondo" id="clase_cli" style="cursor: pointer;">
                            <option value="0">Cliente</option>
                            <option value="1">Proveedor</option>
                        </select>
                        <div class="tooltip_ayuda">
                            <span class="material-symbols-outlined">help</span>
                            <span class="tooltiptext_ayuda">Seleccione el tipo de persona que ingresará.</span>
                        </div>
                    </label>
                    <div class="contenedor-label-input-compras">
                        <input id="txtId" type="hidden" placeholder="ID" />
                        <label class="label-general">
                            <div style="display: flex">Nombres*
                                <div class="tooltip_ayuda">
                                    <span class="material-symbols-outlined">help</span>
                                    <span class="tooltiptext_ayuda">El nombre de la persona solo puede contener como caracteres letras.</span>
                                </div>
                            </div>
                            <input class="input-general fondo" type="text" id="nombre" name="nombre" placeholder="Nombre"/>
                        </label>
                        <label class="label-general">
                            <div style="display: flex">DNI/RUC
                                <div class="tooltip_ayuda">
                                    <span class="material-symbols-outlined">help</span>
                                    <span class="tooltiptext_ayuda">El DNI/RUC solo puede contener caracteres numéricos.</span>
                                </div>
                            </div>
                            <input class="input-general fondo" type="text" id="dni" name="dni" placeholder="DNI" />
                        </label>
                        <label class="label-general">
                            <div style="display: flex">Email
                                <div class="tooltip_ayuda">
                                    <span class="material-symbols-outlined">help</span>
                                    <span class="tooltiptext_ayuda">Ingresar datos en formato adecuado. Ej.: "email@karpovick.com".</span>
                                </div>
                            </div>
                            <input class="input-general fondo" type="text" id="email" name="email" placeholder="Email" />
                        </label>
                        <label class="label-general">
                            <div style="display: flex">Teléfono
                                <div class="tooltip_ayuda">
                                    <span class="material-symbols-outlined">help</span>
                                    <span class="tooltiptext_ayuda">Ingresar datos en formato adecuado. EJ: "999 999 999".</span>
                                </div>
                            </div>
                            <input class="input-general fondo" type="text" id="telefono" name="telefono" placeholder="Telefono" />
                        </label>
                        <label class="label-general">
                            <div style="display: flex">Dirección
                                <div class="tooltip_ayuda">
                                    <span class="material-symbols-outlined">help</span>
                                    <span class="tooltiptext_ayuda">Ingresar la dirección de residencia.</span>
                                </div>
                            </div>
                            <input class="input-general fondo" type="text" id="direccion" name="direccion" placeholder="Dirección" />
                        </label>
                        
                    </div>
                    <div>
                        <a href="#" id="registrar-cliente" class="myButtonAgregar">Registrar Cliente</a>
                        <button type="reset" class="myButtonEliminar">Limpiar</button>
                    </div>
                </div>
            </form>
        </div>
        <div style="padding: 20px 0;">
            <div class="titulo_graficos"><p>Total Clientes y Proveedores</p></div>  
            <div id="contenedor_clientes_proveedores">
            </div>
        </div>
    </div>
    
    <div class="contenedor_tabla">
        <table id="tabla-clientes" class="tabla-proforma">
            <thead>
                <tr>
                    <th scope="row" colspan="9">
                        <select id="filtro-tabla-clientes-clase" class="input-select-ventas">
                            <option value="0">Clientes</option>
                            <option value="1">Proveedores</option>
                        </select>
                    </th>
                </tr>
                <tr>
                    <th scope="row" colspan="15">
                        <div>
                            <button id="buscarFiltrosClientes" class="myButtonEditar">Buscar</button>
                            <button id="restablecerClientes" class="eliminarTablaFila">Restablecer</button>
                            <button id="reporteClientes" class="myButtonEditar">Reporte de ventas</button>
                        </div>
                        <div>Fecha Inicio
                            <input id="_fecha_inicio_" type="date" class="input-filtro" placeholder="Fecha Inicio">
                            Fecha Fin
                            <input id="_fecha_fin_" type="date" class="input-filtro" placeholder="Fecha Fin">
                        </div>
                    </th>
                </tr>
                <tr>
                    <th style="width: 180px;">Nombre<input id="filtro-tabla-clientes-nombre" type="text" class="input-filtro" placeholder="Nombres"></th>
                    <th style="width: 80px;">DNI / RUC<input id="filtro-tabla-clientes-dni" type="text" class="input-filtro" placeholder="DNI / RUC"></th>
                    <th style="width: 160px;">Email<input id="filtro-tabla-clientes-email" type="text" class="input-filtro" placeholder="Email"></th>
                    <th style="width: 100px;">Teléfono<input id="filtro-tabla-clientes-telefono" type="text" class="input-filtro" placeholder="Teléfono"></th>
                    <th style="width: 200px;">Dirección</th>
                    <th style="width: 100px;">Usuario<input id="filtro-tabla-clientes-usuario" type="text" class="input-filtro" placeholder="Usuario"></th>
                    <th style="width: 100px;text-align: center;">Fecha</th>
                    <th style="width: 120px;text-align: center;">Acciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th scope="row" colspan="16">
                        <button id="_inicio_" class="eliminarTablaFila"><<<</button>
                        <button id="retrocederClientes" class="eliminarTablaFila"><<  </button>
                        <select id="numeracionTablaClientes" style="width: 50px; text-align: center;">
                        </select>
                        <button id="avanzarClientes" class="eliminarTablaFila">  >></button>
                        <button id="_final_" class="eliminarTablaFila">>>></button>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="tabla-proforma">
        <h2 style="text-align: center; margin: 10px;">Volcado de datos (.csv)
            <div class="tooltip_ayuda">
                <span class="material-symbols-outlined">help</span>
                <span class="tooltiptext_ayuda">Este apartado está destinado a migrar datos de una lista de clientes externa.</span>
            </div>
        </h2>
        <hr><br>
        <p style="text-align: center;">Por favor, asegúrate de que los archivos que utilices estén en formato CSV.</p>
        <div style="text-align: center;">
            <label>Clientes<input type="radio" id="_radio_clientes" class="_radio_cp" name="cli_pro" checked></label>
            <label>Proveedores<input type="radio" id="_radio_proveedores" class="_radio_cp" name="cli_pro"></label>
            <div class="tooltip_ayuda">
                <span class="material-symbols-outlined">help</span>
                <span class="tooltiptext_ayuda">Asegurese de que contenga solo un tipo de persona por lista.</span>
            </div>
        </div>
        <div style="display: grid;justify-content: center; margin: 10px;">
            <div style="display: flex; justify-content: center;">
                <button id="exportar_formato">Descargar formato CSV</button>
                <div class="tooltip_ayuda">
                    <span class="material-symbols-outlined">download</span>
                    <span class="tooltiptext_ayuda">Despues de hacer la descarga debe acomodar sus datos de acuerdo a este formato.</span>
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
                <input type="file" id="carga_archivo" class="input_file_upload">
                <div class="tooltip_ayuda">
                    <span class="material-symbols-outlined">upload</span>
                    <span class="tooltiptext_ayuda">Solo podrá volcar los datos si cumple con el formato previamente descargado.</span>
                </div>
            </div>
            <button id="volcar_datos" class="myButtonEditar">Volcar</button>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="../static/clientes.js"></script>
<script src="../static/tablas.js"></script>
<script src="../static/graficos.js"></script>
{% endblock %}