{% extends "index.html" %}

{% block content %}
<div class="perdidas-form baja_opacidad">
    <div class="contenedor_compras_principal">
        <div>
            <div class="contenedor_formulario_compras" id="form_contenedor"></div>
            <div class="boton-cli">
                <select id="motivo_salida" onchange="selectForm(this)">
                    <option value="0" selected>-- Motivo de despacho --</option>
                    <option value="Donación">Donación</option>
                    <option value="Hurto">Hurto</option>
                    <option value="Oferta">Oferta</option>
                    <option value="Pérdida">Pérdida</option>
                </select>
            </div>
            <div  class="boton-cli" id="button_contenedor"></div>
        </div>
        <div class="contenedor_busqueda_detalle_general">
            <div style="display: grid;">
                <h2 style="text-align: center;">Buscador</h2>
                <div style="display: grid;grid-template-columns: 1fr 1fr;align-items: center;">

                    <input type="text" id="buscador_descripcion" placeholder="Buscar por palabras clave..." class="input_busqueda_dos">
                    <select id="categoria_buscador_detalle" class="select_input">
                    </select>
                </div>
                <div style="display: grid;grid-template-columns: 1fr 1fr 1fr;align-items: center;">

                    <button id="boton_buscar_codigo" class="myButtonEditar">Buscar código</button>
                    <button id="boton_buscar_descripcion" class="myButtonEditar">Buscar descirpción</button>
                    <button id="boton_borrar_" class="eliminarTablaFila">Eliminar</button>
                </div>
            </div>
            <div style="width: 510px;" class="contenedor_busqueda_cabecera">
                <ul id="lista_cabecera"></ul>
            </div>
            <div class="contenedor_busqueda_detalle_general_interior">
                <ul id="lista_detalle"></ul>
            </div>
        </div>
    </div>
    
    <div class="contenedor-pre-recompra">
        <table id="tabla_modal" class="tabla_modal contenido-tabla">
            <thead>
                <tr>
                    <th scope="row" colspan="15"><h2>Pre lista</h2></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <th scope="row" colspan="18" id="contenedor_botones_modal"></th>

            </tfoot>
        </table>
    </div>
    <div class="contenedor_tabla">
        <table id="tabla_principal" class="tabla-proforma">
            <thead>
                <tr>
                    <th scope="row" colspan="12"><h2>Lista de Despacho</h2></th>
                </tr>
                <tr>
                    <th style="width: 130px;">Categoría</th>
                    <th style="width: 150px;">Código</th>
                    <th style="width: 250px;">Descripción</th>
                    <th style="width: 70px; background: rgb(230, 202, 123, 0.6)">Q AC</th>
                    <th style="width: 70px; background: rgb(145, 230, 156, 0.6)">Q SU</th>
                    <th style="width: 70px; background: rgb(99, 128, 230, 0.6)">Q SD</th>
                    <th style="width: 70px; background: rgb(230, 110, 141, 0.6)">Q ST</th>
                    <th style="width: 70px; background: rgb(77, 77, 77, 0.6)">Q SC</th>
                    <th style="width: 70px;">Costo</th>
                    <th style="width: 70px;">Costo total</th>
                    <th style="width: 120px;">Motivo de salida</th>
                    <th style="width: 100%;" id="remover-tabla-despacho-dos" class="eliminarTablaFila">
                        <div class="tooltip">
                            <span style="font-size:18px;" class="material-symbols-outlined">delete</span>
                            <span class="tooltiptext">Descartar</span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th scope="row" colspan="3">Total unidades despachadas</th>
                    <th class="t_e_1">0</th>
                    <th class="t_e_2">0</th>
                    <th class="t_e_3">0</th>
                    <th class="t_e_4">0</th>
                    <th class="t_e_5">0</th>
                    <th scope="row" colspan="5">
                        <label style="margin: 0 5px;" class="label-checkbox">Imprimir lista de despacho
                            <input type="checkbox" id="check_comprobante">
                        </label>
                    </th>
                </tr>
                <tr>
                    <th scope="row" colspan="12">
                        <button id="procesar-despacho-plus" class="myButtonProcesar">Procesar</button>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script src="../static/despacho.js"></script>
<script src="../static/form.js"></script>
<script src="../static/buscador.js"></script>
{% endblock %}