{% extends "index.html" %}

{% block content %}
<div class="detalleVentas-form baja_opacidad">
    <div class="contenedor_compras_principal">
        <div>
            <div class="titulo_graficos">
                <h4 style="font-size: 20px;">Metodo de Pago</h4>
                <div>N° de operaciones promedio 
                    <h4 style="font-size: 12px;">Local / Delivery</h4>
                    <span style="display: flex; gap: 5px;justify-content: center;">
                        <div>
                            <span id="promedio_venta_local" style="font-weight: bold;"></span>
                            <span style="font-weight: bold;"> / </span>
                            <span id="promedio_venta_delivery" style="font-weight: bold;"></span>
                        </div>
                    </span>
                </div>
            </div>  
            <div class="grafico_compras">
                <section id="contenedor_detalle_ventas">
                    <!-- <canvas id="ventas_mensuales" class="gradico_detalle_ventas"></canvas> -->
                </section>
            </div>
        </div>
        <div>
            <div>
                <h4 style="font-size: 20px;">Operaciones acumuladas por sucursal</h4>
            </div>
            <div id="contenedor_detalle_sucursales">
                <!-- <canvas id="detalle_sucursales" class="gradico_anual"></canvas> -->
            </div>
            <div style="display: flex; gap: 11px; align-content: center;">
                
                <div class="contenedor_dona" style="width: 100px; height: 45px;font-size: 10px;"><span>Almacén Central</span><canvas class="absoluto_local"></canvas></div>
                <div class="contenedor_dona" style="width: 100px; height: 45px;font-size: 10px;"><span>Sucursal Uno</span><canvas class="absoluto_local"></canvas></div>
                <div class="contenedor_dona" style="width: 100px; height: 45px;font-size: 10px;"><span>Sucursal Dos</span><canvas class="absoluto_local"></canvas></div>
                <div class="contenedor_dona" style="width: 100px; height: 45px;font-size: 10px;"><span>Sucursal Tres</span><canvas class="absoluto_local"></canvas></div>
                <div class="contenedor_dona" style="width: 100px; height: 45px;font-size: 10px;"><span>Sucursal Cuatro</span><canvas class="absoluto_local"></canvas></div>
            </div>
        </div>
    </div>
    <div id="acciones_creditos" class="contenedor-pre-credito">
    </div>
    <div class="contenedor_tabla_salidas">
        <table id="tabla-detalle-ventas"  class="tabla-proforma">
            <thead>
                <tr>
                    <th scope="row" colspan="15"><h2>Detalle de Ventas</h2></th>
                </tr>
                <tr>
                    <th scope="row" colspan="15">
                        <div>
                            <button id="buscarFiltrosVentas">Buscar</button>
                            <button id="restablecerVentas">Restablecer</button>
                            <button id="reportesCreditos">Créditos activos</button>
                        </div>
                        <div>Fecha Inicio
                            <input id="filtro-tabla-detalleVentas-fecha-inicio" type="date" class="input-filtro" placeholder="Fecha Inicio">
                            Fecha Fin
                            <input id="filtro-tabla-detalleVentas-fecha-fin" type="date" class="input-filtro" placeholder="Fecha Fin">
                        </div>
                    </th>
                </tr>
                <tr>
                    <th style="width: 120px;">Sucursal
                        <input list="sucursales_opciones" id="filtro-tabla-detalleVentas-sucursal" class="input-filtro" placeholder="Sucursal" autocomplete="off">
                        <datalist id="sucursales_opciones">
                            <option value="Almacén Central"></option>
                            <option value="Sucursal Uno"></option>
                            <option value="Sucursal Dos"></option>
                            <option value="Sucursal Tres"></option>
                        </datalist> 
                    </th>
                    <th style="width: 120px;">Operación
                        <input list="comprobante_opciones" id="filtro-tabla-detalleVentas-comprobante" type="text" class="input-filtro" placeholder="Operación" autocomplete="off">
                        <datalist id="comprobante_opciones">
                            <option value="Venta-"></option>
                        </datalist>
                    </th>
                    <th style="width: 110px;">Comprobante
                        <input list="tipo_opciones" id="filtro-tabla-detalleVentas-tipoComprobante" type="text" class="input-filtro" placeholder="Comprobante" autocomplete="off">
                        <datalist id="tipo_opciones">
                            <option value="N001-"></option>
                            <option value="B001-"></option>
                            <option value="F001-"></option>
                        </datalist>
                    </th>
                    <th style="width: 120px;">Cliente<input id="filtro-tabla-detalleVentas-dni" type="text" class="input-filtro" placeholder="Cliente"></th>
                    <th style="width: 70px;">Efectivo</th>
                    <th style="width: 70px;">Tarjeta</th>
                    <th style="width: 70px;">Crédito</th>
                    <th style="width: 70px;">Dev-</th>
                    <th style="width: 60px;">Canal de venta</th>
                    <th style="width: 70px;">Situación</th>
                    <th style="width: 90px;">Fecha</th>
                    <th style="width: 50px;">Acciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th scope="row" colspan="16">
                        <button id="_inicio_"><<<</button>
                        <button id="retrocederVentas"><<  </button>
                        <select id="numeracionTablaVentas" style="width: 50px; text-align: center;">
                        </select>  
                        <button id="avanzarVentas">  >></button>
                        <button id="_final_">>>></button>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    <details>
        <summary>Acciones</summary>
        <div>
            <div style="display: flex;gap: 10px;justify-content: space-between;margin: 5px;"><div class="material-symbols-outlined myButtonEditar">print</div>
                <span>Esta acción genera una copia del comprobante de pago.</span></div>
            <div style="display: flex;gap: 10px;justify-content: space-between;margin: 5px;"><div class="material-symbols-outlined myButtonEditar">credit_card</div>
                <span>Esta acción permite gestionar las ventas que fueron relizadas a crédito (Solo aplica si presenta un saldo en crédito).</span></div>
        </div>
    </details>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="../static/detalle_ventas.js"></script>
<script src="../static/graficos.js"></script>
<script src="../static/tablas.js"></script>
{% endblock %}