{% extends "index.html" %}

{% block content %}
<div class="Home baja_opacidad">
    <div class="pestana_cabecera_home">
        <div class="leyenda_sucursales">
            <div>
                <div class="color_leyenda_sucursales"></div>
                <span class="etiqueta_sucursal"></span>
            </div>
            <div>
                <div class="color_leyenda_sucursales"></div>
                <span class="etiqueta_sucursal"></span>
            </div>
            <div>
                <div class="color_leyenda_sucursales"></div>
                <span class="etiqueta_sucursal"></span>
            </div>
            <div>
                <div class="color_leyenda_sucursales"></div>
                <span class="etiqueta_sucursal"></span>
            </div>
        </div>
        <div class="pestana-home">
            <div id="avance-mes-sucursal" class="home-pestana-item">
                <h4>Ventas del mes
                    <div class="tooltip_ayuda">
                        <span class="material-symbols-outlined">help</span>
                        <span class="tooltiptext_ayuda">Este gráfico muestra las ventas cumuladas del presente mes por sucursal.</span>
                    </div>
                </h4>
                <table class="body_etiqueta_avan_men">
                    <tbody>
                        <tr>
                        
                            <td class="fondo_graf"><div class="contenido_sucursal_grafico"><input class="graf_avan_men pestana_uno" type="text" disabled><p class="valor_sucursal"></p></div></td>
                        </tr>
                        <tr>
                            
                            <td class="fondo_graf"><div class="contenido_sucursal_grafico"><input class="graf_avan_men pestana_uno" type="text" disabled><p class="valor_sucursal"></p></div></td>
                        </tr>
                        <tr>
                            
                            <td class="fondo_graf"><div class="contenido_sucursal_grafico"><input class="graf_avan_men pestana_uno" type="text" disabled><p class="valor_sucursal"></p></div></td>
                        </tr>
                        <tr>
                            
                            <td class="fondo_graf"><div class="contenido_sucursal_grafico"><input class="graf_avan_men pestana_uno" type="text" disabled><p class="valor_sucursal"></p></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="numero-ventas-sucursal" class="home-pestana-item">
                <h4>Ventas de hoy
                    <div class="tooltip_ayuda">
                        <span class="material-symbols-outlined">help</span>
                        <span class="tooltiptext_ayuda">Este gráfico muestra las ventas cumuladas del presente día por sucursal.</span>
                    </div>
                </h4>
                <table class="body_etiqueta_avan_men">
                    <tbody>
                        <tr>
                        
                            <td class="fondo_graf"><div class="contenido_sucursal_grafico"><input class="graf_avan_men pestana_dos" type="text" disabled><p class="valor_sucursal"></p></div></td>
                        </tr>
                        <tr>
                            
                            <td class="fondo_graf"><div class="contenido_sucursal_grafico"><input class="graf_avan_men pestana_dos" type="text" disabled><p class="valor_sucursal"></p></div></td>
                        </tr>
                        <tr>
                            
                            <td class="fondo_graf"><div class="contenido_sucursal_grafico"><input class="graf_avan_men pestana_dos" type="text" disabled><p class="valor_sucursal"></p></div></td>
                        </tr>
                        <tr>
                            
                            <td class="fondo_graf"><div class="contenido_sucursal_grafico"><input class="graf_avan_men pestana_dos" type="text" disabled><p class="valor_sucursal"></p></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="avance-diario-sucursal" class="home-pestana-item">
                <h4>Unidades devueltas
                    <div class="tooltip_ayuda">
                        <span class="material-symbols-outlined">help</span>
                        <span class="tooltiptext_ayuda">Este gráfico muestra las unidades de venta devueltas en el presente mes por sucursal.</span>
                    </div>
                </h4>
                <table class="body_etiqueta_avan_men">
                    <tbody>
                        <tr>
                        
                            <td class="fondo_graf"><div class="contenido_sucursal_grafico"><input class="graf_avan_men pestana_tres" type="text" disabled><p class="valor_sucursal"></p></div></td>
                        </tr>
                        <tr>
                            
                            <td class="fondo_graf"><div class="contenido_sucursal_grafico"><input class="graf_avan_men pestana_tres" type="text" disabled><p class="valor_sucursal"></p></div></td>
                        </tr>
                        <tr>
                            
                            <td class="fondo_graf"><div class="contenido_sucursal_grafico"><input class="graf_avan_men pestana_tres" type="text" disabled><p class="valor_sucursal"></p></div></td>
                        </tr>
                        <tr>
                            
                            <td class="fondo_graf"><div class="contenido_sucursal_grafico"><input class="graf_avan_men pestana_tres" type="text" disabled><p class="valor_sucursal"></p></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="rotacion-sucursal" class="home-pestana-item">
                <h4>Rotación
                    <div class="tooltip_ayuda">
                        <span class="material-symbols-outlined">help</span>
                        <span class="tooltiptext_ayuda">Este gráfico muestra la rotación de invetarios por sucursal en meses.</span>
                    </div>
                </h4>
                <table class="body_etiqueta_avan_men">
                    <tbody>
                        <tr>
                        
                            <td class="fondo_graf"><div class="contenido_sucursal_grafico"><input class="graf_avan_men pestana_cuatro" type="text" disabled><p class="valor_sucursal"></p></div></td>
                        </tr>
                        <tr>
                            
                            <td class="fondo_graf"><div class="contenido_sucursal_grafico"><input class="graf_avan_men pestana_cuatro" type="text" disabled><p class="valor_sucursal"></p></div></td>
                        </tr>
                        <tr>
                            
                            <td class="fondo_graf"><div class="contenido_sucursal_grafico"><input class="graf_avan_men pestana_cuatro" type="text" disabled><p class="valor_sucursal"></p></div></td>
                        </tr>
                        <tr>
                            
                            <td class="fondo_graf"><div class="contenido_sucursal_grafico"><input class="graf_avan_men pestana_cuatro" type="text" disabled><p class="valor_sucursal"></p></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="pestana_home">
        <div class="grafico_interno">
            <div class="titulo_graficos_dos">
                <div><h3>Ventas Mensuales
                    <div class="tooltip_ayuda">
                        <span class="material-symbols-outlined">help</span>
                        <span class="tooltiptext_ayuda">Este gráfico muestra el avance del total de ventas y costos en meses.</span>
                    </div>
                </h3></div>
                <div>Mayor venta </p><span style="display: flex; gap: 5px;"><p id="mayor_venta" style="font-weight: bold;"></p><span class="material-symbols-outlined" style="color: var(--boton-tres);">expand_less</span></span><p class="mes_max" style="font-size: 10px;color: #9b9b9b;"></p></div>
                <div>Menor venta </p><span style="display: flex; gap: 5px;"><p id="menor_venta" style="font-weight: bold;"></p><span class="material-symbols-outlined" style="color: var(--boton-dos);">expand_more</span></span><p class="mes_min" style="font-size: 10px;color: #9b9b9b;"></p></div>
                <div>Venta promedio <span style="display: flex; gap: 5px;"><p id="promedio_venta" style="font-weight: bold;"></p><span class="material-symbols-outlined" style="color: var(--boton-uno);">vital_signs</span></span></div>
            </div>  
            <div class="etiquetas_graficos_colores">
                <div>
                    <div class="color_total_venta"></div>
                    <span class="descripcion_item_grafico">Total Venta</span>
                </div>
                <div>
                    <div class="color_total_costo"></div>
                    <span class="descripcion_item_grafico">Costo de Venta</span>
                </div>
            </div>
            <div class="grafico_compras">
                <grafico-eje_y e_0="eje_y_numeracion"></grafico-eje_y>
                <barra-grafico_vertical l_0="f_l_g" c_1="" c_2="cg_1_c" c_3="" c_4="cg_2_c" c_5="" s_1="" s_2="sg_1_c" s_3="" s_4="sg_2_c" s_5=""></barra-grafico_vertical>
                <barra-grafico_vertical l_0="f_l_g" c_1="" c_2="cg_1_c" c_3="" c_4="cg_2_c" c_5="" s_1="" s_2="sg_1_c" s_3="" s_4="sg_2_c" s_5=""></barra-grafico_vertical>
                <barra-grafico_vertical l_0="f_l_g" c_1="" c_2="cg_1_c" c_3="" c_4="cg_2_c" c_5="" s_1="" s_2="sg_1_c" s_3="" s_4="sg_2_c" s_5=""></barra-grafico_vertical>
                <barra-grafico_vertical l_0="f_l_g" c_1="" c_2="cg_1_c" c_3="" c_4="cg_2_c" c_5="" s_1="" s_2="sg_1_c" s_3="" s_4="sg_2_c" s_5=""></barra-grafico_vertical>
                <barra-grafico_vertical l_0="f_l_g" c_1="" c_2="cg_1_c" c_3="" c_4="cg_2_c" c_5="" s_1="" s_2="sg_1_c" s_3="" s_4="sg_2_c" s_5=""></barra-grafico_vertical>
                <barra-grafico_vertical l_0="f_l_g" c_1="" c_2="cg_1_c" c_3="" c_4="cg_2_c" c_5="" s_1="" s_2="sg_1_c" s_3="" s_4="sg_2_c" s_5=""></barra-grafico_vertical>
                <barra-grafico_vertical l_0="f_l_g" c_1="" c_2="cg_1_c" c_3="" c_4="cg_2_c" c_5="" s_1="" s_2="sg_1_c" s_3="" s_4="sg_2_c" s_5=""></barra-grafico_vertical>
                <barra-grafico_vertical l_0="f_l_g" c_1="" c_2="cg_1_c" c_3="" c_4="cg_2_c" c_5="" s_1="" s_2="sg_1_c" s_3="" s_4="sg_2_c" s_5=""></barra-grafico_vertical>
                <barra-grafico_vertical l_0="f_l_g" c_1="" c_2="cg_1_c" c_3="" c_4="cg_2_c" c_5="" s_1="" s_2="sg_1_c" s_3="" s_4="sg_2_c" s_5=""></barra-grafico_vertical>
                <barra-grafico_vertical l_0="f_l_g" c_1="" c_2="cg_1_c" c_3="" c_4="cg_2_c" c_5="" s_1="" s_2="sg_1_c" s_3="" s_4="sg_2_c" s_5=""></barra-grafico_vertical>
                <barra-grafico_vertical l_0="f_l_g" c_1="" c_2="cg_1_c" c_3="" c_4="cg_2_c" c_5="" s_1="" s_2="sg_1_c" s_3="" s_4="sg_2_c" s_5=""></barra-grafico_vertical>
                <barra-grafico_vertical l_0="f_l_g" c_1="" c_2="cg_1_c" c_3="" c_4="cg_2_c" c_5="" s_1="" s_2="sg_1_c" s_3="" s_4="sg_2_c" s_5=""></barra-grafico_vertical>
            </div>
        </div>
        <div id="compra-mensual" class="grafico_interno_dos">
            <div><h3>Margen de beneficio total y movimientos de efectivo</h3></div>  
            <div class="contenedor_circulo_sucursal_multi">
                <div class="parte_multi">
                    <div style="display: flex;">
                        <div id="circulo_stock_margen_esperado" class="modelo_circulo_esperado">
                            <div class="cirulo_interior_margen">
                                <span class="nombre_circulo_margen_esperado">Margen</span>
                                <span>esperado</span>
                                <h4 class="valor_circulo_margen_esperado"></h4>
                                <h4 class="porcentaje_circulo_margen_esperado"></h4>
                            </div>
                        </div>
                        <div class="tooltip_ayuda">
                            <span class="material-symbols-outlined">help</span>
                            <span class="tooltiptext_ayuda">Este gráfico muestra la rentabilidad esperada si las ventas no tuvieran descuentos o sobreprecios.</span>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div id="circulo_stock_facturado" class="modelo_circulo_esperado">
                            <div class="cirulo_interior_margen">
                                <span class="nombre_circulo_margen_facturado">Total</span>
                                <span>facturado</span>
                                <h4 class="valor_circulo_margen_facturado"></h4>
                                <h4 class="porcentaje_circulo_margen_facturado"></h4>
                            </div>
                        </div>
                        <div class="tooltip_ayuda">
                            <span class="material-symbols-outlined">help</span>
                            <span class="tooltiptext_ayuda">Este gráfico muestra el acumulado de ventas del presente año.</span>
                        </div>
                    </div>
                </div>
                <div style="display: flex;">
                    <div id="circulo_stock_margen" class="modelo_circulo">
                        <div class="cirulo_interior_margen">
                            <span class="nombre_circulo_margen">Margen real</span>
                            <h4 class="valor_circulo_margen"></h4>
                            <h4 class="porcentaje_circulo_margen"></h4>
                        </div>
                    </div>
                    <div class="tooltip_ayuda">
                        <span class="material-symbols-outlined">help</span>
                        <span class="tooltiptext_ayuda">Este gráfico muestra la distribucion acumulada de los ingresos de efectivo entre los diferentes costos, gastos y utilidades.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pestana_home">
        <div class="grafico_interno">
            <div class="titulo_graficos"><h3>Ventas por Sucursal
                <div class="tooltip_ayuda">
                    <span class="material-symbols-outlined">help</span>
                    <span class="tooltiptext_ayuda">Este gráfico muestra el avance de ventas del presente año por sucursal por mes.</span>
                </div>
            </h3></div>  
            <div class="etiquetas_graficos_colores">
                <div>
                    <div class="color_item_grafico_sucursal"></div>
                    <span class="descripcion_item_grafico_s"></span>
                </div>
                <div>
                    <div class="color_item_grafico_sucursal"></div>
                    <span class="descripcion_item_grafico_s"></span>
                </div>
                <div>
                    <div class="color_item_grafico_sucursal"></div>
                    <span class="descripcion_item_grafico_s"></span>
                </div>
                <div>
                    <div class="color_item_grafico_sucursal"></div>
                    <span class="descripcion_item_grafico_s"></span>
                </div>
                <div>
                    <div class="color_item_grafico_sucursal"></div>
                    <span class="descripcion_item_grafico_s"></span>
                </div>
            </div>
            <div class="grafico_compras">
                <grafico-eje_y e_0="eje_y_numeracion_s"></grafico-eje_y>
                <barra-grafico_vertical l_0="f_l_g_s" c_1="cg_1_c_s" c_2="cg_2_c_s" c_3="cg_3_c_s" c_4="cg_4_c_s" c_5="" s_1="sg_1_c_s" s_2="sg_2_c_s" s_3="sg_3_c_s" s_4="sg_4_c_s" s_5=""></barra-grafico_vertical>
                <barra-grafico_vertical l_0="f_l_g_s" c_1="cg_1_c_s" c_2="cg_2_c_s" c_3="cg_3_c_s" c_4="cg_4_c_s" c_5="" s_1="sg_1_c_s" s_2="sg_2_c_s" s_3="sg_3_c_s" s_4="sg_4_c_s" s_5=""></barra-grafico_vertical>
                <barra-grafico_vertical l_0="f_l_g_s" c_1="cg_1_c_s" c_2="cg_2_c_s" c_3="cg_3_c_s" c_4="cg_4_c_s" c_5="" s_1="sg_1_c_s" s_2="sg_2_c_s" s_3="sg_3_c_s" s_4="sg_4_c_s" s_5=""></barra-grafico_vertical>
                <barra-grafico_vertical l_0="f_l_g_s" c_1="cg_1_c_s" c_2="cg_2_c_s" c_3="cg_3_c_s" c_4="cg_4_c_s" c_5="" s_1="sg_1_c_s" s_2="sg_2_c_s" s_3="sg_3_c_s" s_4="sg_4_c_s" s_5=""></barra-grafico_vertical>
                <barra-grafico_vertical l_0="f_l_g_s" c_1="cg_1_c_s" c_2="cg_2_c_s" c_3="cg_3_c_s" c_4="cg_4_c_s" c_5="" s_1="sg_1_c_s" s_2="sg_2_c_s" s_3="sg_3_c_s" s_4="sg_4_c_s" s_5=""></barra-grafico_vertical>
                <barra-grafico_vertical l_0="f_l_g_s" c_1="cg_1_c_s" c_2="cg_2_c_s" c_3="cg_3_c_s" c_4="cg_4_c_s" c_5="" s_1="sg_1_c_s" s_2="sg_2_c_s" s_3="sg_3_c_s" s_4="sg_4_c_s" s_5=""></barra-grafico_vertical>
                <barra-grafico_vertical l_0="f_l_g_s" c_1="cg_1_c_s" c_2="cg_2_c_s" c_3="cg_3_c_s" c_4="cg_4_c_s" c_5="" s_1="sg_1_c_s" s_2="sg_2_c_s" s_3="sg_3_c_s" s_4="sg_4_c_s" s_5=""></barra-grafico_vertical>
                <barra-grafico_vertical l_0="f_l_g_s" c_1="cg_1_c_s" c_2="cg_2_c_s" c_3="cg_3_c_s" c_4="cg_4_c_s" c_5="" s_1="sg_1_c_s" s_2="sg_2_c_s" s_3="sg_3_c_s" s_4="sg_4_c_s" s_5=""></barra-grafico_vertical>
                <barra-grafico_vertical l_0="f_l_g_s" c_1="cg_1_c_s" c_2="cg_2_c_s" c_3="cg_3_c_s" c_4="cg_4_c_s" c_5="" s_1="sg_1_c_s" s_2="sg_2_c_s" s_3="sg_3_c_s" s_4="sg_4_c_s" s_5=""></barra-grafico_vertical>
                <barra-grafico_vertical l_0="f_l_g_s" c_1="cg_1_c_s" c_2="cg_2_c_s" c_3="cg_3_c_s" c_4="cg_4_c_s" c_5="" s_1="sg_1_c_s" s_2="sg_2_c_s" s_3="sg_3_c_s" s_4="sg_4_c_s" s_5=""></barra-grafico_vertical>
                <barra-grafico_vertical l_0="f_l_g_s" c_1="cg_1_c_s" c_2="cg_2_c_s" c_3="cg_3_c_s" c_4="cg_4_c_s" c_5="" s_1="sg_1_c_s" s_2="sg_2_c_s" s_3="sg_3_c_s" s_4="sg_4_c_s" s_5=""></barra-grafico_vertical>
                <barra-grafico_vertical l_0="f_l_g_s" c_1="cg_1_c_s" c_2="cg_2_c_s" c_3="cg_3_c_s" c_4="cg_4_c_s" c_5="" s_1="sg_1_c_s" s_2="sg_2_c_s" s_3="sg_3_c_s" s_4="sg_4_c_s" s_5=""></barra-grafico_vertical>
            </div>
        </div>
        <div class="grafico_interno_dos">
            <div class="titulo_graficos_suc">
                <div><h3>Margen</h3><h3>Acumulado</h3></div>
                <div><h3>Acumulado Por Sucursal</h3></div>
                <div><h3>Margen</h3><h3>Acumulado</h3></div>
            </div>  
            <div class="contenedor_circulo_sucursal_multi">
                <div class="parte_multi_suc">
                    <div style="display: flex;">
                        <div id="circulo_total_cero" class="modelo_circulo_sucursal">
                            <div class="cirulo_interior_margen">
                                <span>Margen</span>
                                <h4 class="valor_circulo_cero"></h4>
                                <h4 class="porcentaje_circulo_cero"></h4>
                            </div>
                        </div>
                        <div class="tooltip_ayuda">
                            <span class="material-symbols-outlined">help</span>
                            <span class="tooltiptext_ayuda">Este gráfico muestra la rentabilidad del acumulado de ventas de "Almacén central".</span>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div id="circulo_total_uno" class="modelo_circulo_sucursal">
                            <div class="cirulo_interior_margen">
                                <span>Margen</span>
                                <h4 class="valor_circulo_uno"></h4>
                                <h4 class="porcentaje_circulo_uno"></h4>
                            </div>
                        </div>
                        <div class="tooltip_ayuda">
                            <span class="material-symbols-outlined">help</span>
                            <span class="tooltiptext_ayuda">Este gráfico muestra la rentabilidad del acumulado de ventas de "Sucursal Uno".</span>
                        </div>
                    </div>
                </div>
                <div style="display: grid;justify-items: center;">
                    <div class="tooltip_ayuda">
                        <span class="material-symbols-outlined">help</span>
                        <span class="tooltiptext_ayuda">Este gráfico muestra la participación de cada sucursal del total de ventas acumuladas en el año.</span>
                    </div>
                    <div id="circulo_stock_sucursal">
                        <div class="cirulo_interior">
                            <span class="nombre_circulo_sucursal"></span>
                            <span class="valor_circulo_sucursal"></span>
                            <span class="porcentaje_circulo_sucursal"></span>
                        </div>
                    </div>
                </div>
                <div class="parte_multi_suc">
                    <div style="display: flex;">
                        <div id="circulo_total_dos" class="modelo_circulo_sucursal">
                            <div class="cirulo_interior_margen">
                                <span>Margen</span>
                                <h4 class="valor_circulo_dos"></h4>
                                <h4 class="porcentaje_circulo_dos"></h4>
                            </div>
                        </div>
                        <div class="tooltip_ayuda">
                            <span class="material-symbols-outlined">help</span>
                            <span class="tooltiptext_ayuda">Este gráfico muestra la rentabilidad del acumulado de ventas de "Sucursal Dos".</span>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div id="circulo_total_tres" class="modelo_circulo_sucursal">
                            <div class="cirulo_interior_margen">
                                <span>Margen</span>
                                <h4 class="valor_circulo_tres"></h4>
                                <h4 class="porcentaje_circulo_tres"></h4>
                            </div>
                        </div>
                        <div class="tooltip_ayuda">
                            <span class="material-symbols-outlined">help</span>
                            <span class="tooltiptext_ayuda">Este gráfico muestra la rentabilidad del acumulado de ventas de "Sucursal Tres".</span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/home.js"></script>
{% endblock %}