{% extends "index.html" %}

{% block content %}
<div class="modificacion-form baja_opacidad">
    <div class="contenedor_compras_uno botones-compras">
        <button id="registra-modificacion" class="btn_t">Registrar Nuevo producto</button>
        <button id="editar-modificacion" class="btn_t">Modificar Producto</button>
    </div>
    <div class="contenedor_compras_principal">
        <div>
            <div class="contenedor_formulario_compras" id="form_contenedor"></div>
            <div  class="boton-cli" id="button_contenedor"></div>
        </div>
        <div class="contenedor_busqueda_detalle_general">
            <div style="display: grid;">
                <h2 style="text-align: center;">Buscador</h2>
                <div style="display: grid;grid-template-columns: 1fr 1fr;align-items: center;">

                    <input type="text" id="buscador_descripcion" placeholder="Buscar por palabras clave..." class="input_busqueda_dos">
                    <select id="categoria_buscador_detalle" class="select_input">
                    </select>
                </div>
                <div style="display: grid;grid-template-columns: 1fr 1fr 1fr;align-items: center;">

                    <button id="boton_buscar_codigo" class="myButtonEditar">Buscar código</button>
                    <button id="boton_buscar_descripcion" class="myButtonEditar">Buscar descirpción</button>
                    <button id="boton_borrar_" class="eliminarTablaFila">Eliminar</button>
                </div>
            </div>
            <div style="width: 510px;" class="contenedor_busqueda_cabecera">
                <ul id="lista_cabecera"></ul>
            </div>
            <div class="contenedor_busqueda_detalle_general_interior">
                <ul id="lista_detalle"></ul>
            </div>
        </div>
    </div>
    <div class="contenedor-pre-recompra">
        <table id="tabla_modal" class="tabla_modal contenido-tabla">
            <thead>
                <tr>
                    <th scope="row" colspan="12">
                        <h2>Pre lista</h2>
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <th scope="row" colspan="18" id="contenedor_botones_modal"></th>
                <!-- <th scope="row" colspan="12">
                    <button id="procesar-modificacion-uno" class="myButtonAgregar">Enviar a Lista Productos</button>
                    <button id="procesar-modificacion-dos" class="myButtonAgregar invisible">Enviar a Lista Productos</button>
                    <button id="remover-tabla-modificacion-uno" class="eliminarTablaFila">Cancelar</button>
                </th> -->
            </tfoot>
        </table>
    </div>
    <div class="contenedor_tabla">
        <table id="tabla_principal" class="tabla-proforma">
            <thead>
                <tr>
                    <th scope="row" colspan="12"><h2>Lista de Productos</h2></th>
                </tr>
                <tr>
                    <th>Categoría</th>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Medidas</th>
                    <th>Costo Unitario</th>
                    <th>Precio de Venta</th>
                    <th>Lote</th>
                    <th>Proveedor</th>
                    <th style="width: 100%;" id="remover-tabla-modificacion-dos" class="eliminarTablaFila">
                        <div class="tooltip">
                            <span style="font-size:18px;" class="material-symbols-outlined">delete</span>
                            <span class="tooltiptext">Descartar</span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <th scope="row" colspan="12">
                    <button id="procesar-modificacion-principal" class="myButtonProcesar invisible">Procesar</button>
                    <button id="procesar-registro" class="myButtonProcesar">Procesar</button>
                </th>
            </tfoot>
        </table>
    </div>
</div>
<script src="../static/modificacion.js"></script>
<script src="../static/form.js"></script>
<script src="../static/buscador.js"></script>
{% endblock %}