{% extends "index.html" %}

{% block content %}
<div class="ventas-form baja_opacidad">
    <div class="contenedor_botones_ventas botones-compras">
        <button id="apertura-caja" class="btn_t">Apertura de Caja</button>
        <button id="entradas-caja" class="btn_t">Entradas de Caja</button>
        <button id="salidas-caja" class="btn_t marcaBotonDos">Salidas de Caja</button>
    </div>
    <div class="contenedor_compras">
        <div class="contenedor_formulario_compras">
            <form id="formulario-gastos-varios" class="into_form" style="margin: 10px;">
                <div>

                    <h3>Salidas de efectivo</h3>
                </div>
                <label>Sucursal 
                    <select name="fffff-sucursal" id="fffff-sucursal" class="input-select-ventas">
                    </select>
                    <div class="tooltip_ayuda">
                        <span class="material-symbols-outlined">help</span>
                        <span class="tooltiptext_ayuda">Seleccione una sucursal.</span>
                    </div>
                </label>
                <div>
                    <label class="label-general"> Concepto
                        <select name="concepto-gastos" id="concepto-gastos" class="input-general fondo" style="cursor: pointer;">
                            <option value="0" selected disabled>Selecciona un concepto</option>
                            <option value="2_nomina">Pago nómina</option>
                            <option value="3_seguridad_social">Pago seguridad social</option>
                            <option value="4_proveedores">Pago proveedores</option>
                            <option value="5_impuestos">Pago impuestos</option>
                            <option value="6_servicios">Pago servicios</option>
                            <option value="7_alquiler">Pago alquiler</option>
                            <option value="8_mantenimientos">Pago mantenimientos</option>
                            <option value="9_publicidad">Pago publicidad</option>
                            <option value="10_activo">Compra activo</option>
                            <option value="13_depositos">Depósito Bancario</option>
                            <option value="14_otros">Otros Gastos</option>
                        </select>
                    </label>
                    <label class="label-general">Descripción<input id="comprobante-gastos" class="input-general fondo" type="text"></label>
                    <label class="label-general">Método de pago
                        <select id="metodo_pago" class="input-general fondo" style="cursor: pointer;">
                            <option value="0" selected disabled>Selecciona un método de pago</option>
                            <option value="1">Caja chica</option>
                            <option value="2">Caja bancos</option>
                            <option value="3">Crédito</option>
                        </select>
                    </label>
    
                    <label class="label-general">Monto<input id="monto-gastos" class="input-general fondo" type="text"></label>
                </div>
                
                <div class="boton-cli">
                    <button id="procesar-gastos" class="myButtonAgregar">Procesar Gastos</button>
                    <input type="reset" class="myButtonEliminar">
                </div>
            </form>

        </div>
        <div class="grafico_interno">
            <div class="titulo_graficos">
                <h2>Gráfico de salidas de efectivo por sucursal</h2>
            </div>  
            <div>
                <button class="concep_" value="2_nomina">Pago nómina</button>
                <button class="concep_" value="3_seguridad_social">Pago seguridad social</button>
                <button class="concep_" value="4_proveedores">Pago proveedores</button>
                <button class="concep_" value="5_impuestos">Pago impuestos</button>
                <button class="concep_" value="6_servicios">Pago servicios</button>
                <button class="concep_" value="7_alquiler">Pago alquiler</button>
                <button class="concep_" value="8_mantenimientos">Pago mantenimientos</button>
                <button class="concep_" value="9_publicidad">Pago publicidad</button>
                <button class="concep_" value="10_activo">Compra activo</button>
                <button class="concep_" value="13_depositos">Depósito Bancario</button>
                <button class="concep_" value="14_otros">Otros Gastos</button>
                <button class="concep_" value="total_pagos">Total pagos</button>
            </div>
            <section id="contenedor_gastos_mensuales_sucursal">
                <!-- <canvas id="gastos_mensuales_sucursal" class="gradico_anual"></canvas> -->
            </section>
        </div>
    </div>

    <div class="contenedor_kardex">
        <table id="tabla-gastos-varios" class="tabla-proforma">
            <thead>
                <tr>
                    <th scope="row" colspan="10"><h2>Salidas de efectivo</h2></th>
                </tr>
                <tr>
                    <th scope="row" colspan="15">
                        <div>
                            <button id="buscarFiltrosGastosVarios" class="myButtonEditar">Buscar</button>
                            
                            <button id="restablecerGastosVarios" class="eliminarTablaFila">Restablecer</button>
                        </div>
                        <div>Fecha Inicio
                            <input id="_fecha_inicio_" type="date" class="input-filtro">
                            Fecha Fin
                            <input id="_fecha_fin_" type="date" class="input-filtro">
                        </div>
                    </th>
                </tr>
                <tr>
                    <th style="width: 120px;">Sucursal
                        <input list="sucursales_opciones" id="filtro-tabla-gastosVarios-sucursal" class="input-filtro" placeholder="Sucursal" autocomplete="off">
                        <datalist id="sucursales_opciones">
                            <option value="Almacén Central"></option>
                            <option value="Sucursal Uno"></option>
                            <option value="Sucursal Dos"></option>
                            <option value="Sucursal Tres"></option>
                            <option value="Sucursal Cuatro"></option>
                        </datalist> 
                    </th>
                    <th style="width: 120px;">Concepto<input id="filtro-tabla-gastosVarios-concepto" type="text" class="input-filtro" placeholder="Concepto"></th>
                    <th style="width: 120px;">Descripción<input id="filtro-tabla-gastosVarios-comprobante" type="text" class="input-filtro" placeholder="Descripción"></th>
                    <th style="width: 60px;">Caja chica</th>
                    <th style="width: 60px;">Caja bancos</th>
                    <th style="width: 60px;">Crédito</th>
                    <th style="width: 60px;">Total</th>
                    <th style="width: 90px;">Usuario<input id="filtro-tabla-gastosVarios-usuario" type="text" class="input-filtro" placeholder="Usuario"></th>
                    <th style="width: 90px;">Fecha</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th scope="row" colspan="16">
                        <button id="_inicio_" class="eliminarTablaFila"><<<</button>
                        <button id="retrocederGastosVarios" class="eliminarTablaFila"><<  </button>
                        <select id="numeracionTablaGastosVarios" style="width: 50px; text-align: center;">
                        </select>
                        <button id="avanzarGastosVarios" class="eliminarTablaFila">  >></button>
                        <button id="_final_" class="eliminarTablaFila">>>></button>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script src="../static/salidas_caja.js"></script>
<script src="../static/tablas.js"></script>
<script src="../static/graficos.js"></script>
{% endblock %}